In [14]:
import numpy as np
import keras
import pandas as pd
from sklearn.model_selection import train_test_split
from keras.models import Sequential

In [28]:
df = pd.read_csv('/Users/riccardo/Desktop/Repositorys_Github/Training/Dataset/housing.csv',
            sep=',')
X_train, X_test, y_train, y_test = train_test_split(
        df[['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income']], 
        df['median_house_value'],
        test_size=0.3, 
        random_state=42
        )

In [29]:
print("Der X Test Datensatz besthet aus: ", X_train.shape, "Der Y Test Datensatz besthet aus: ", y_train.shape)
print("Der X_test Datensatz besthet aus: ", X_test.shape,"Der y_test Datensatz besteht  aus: ", y_test.shape)

Der X Test Datensatz besthet aus:  (6999, 8) Der Y Test Datensatz besthet aus:  (6999,)
Der X_test Datensatz besthet aus:  (3000, 8) Der y_test Datensatz besteht  aus:  (3000,)

## Erstellungs des RNNs Infrastruktur

In [33]:
print(X_test.info())
X_test.head()

<class 'pandas.core.frame.DataFrame'>
Index: 3000 entries, 5344 to 4704
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      2960 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
dtypes: float64(8)
memory usage: 210.9 KB
None

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
5344,-118.43,34.04,52.0,1782.0,308.0,735.0,307.0,5.2954
7444,-118.19,33.95,42.0,2309.0,685.0,2609.0,673.0,2.7206
1731,-122.34,37.97,19.0,392.0,109.0,287.0,81.0,6.0426
8719,-118.37,33.84,27.0,3245.0,605.0,1572.0,556.0,5.3773
4521,-118.21,34.04,36.0,1825.0,479.0,2097.0,480.0,2.1862