In [3]:
import keras
import pandas as pd
from sklearn.model_selection import train_test_split
from keras.models import Sequential
import numpy as np
import tensorflow as tf

In [24]:
import pandas as pd

# CSV-Datei einlesen und Header überspringen
df = pd.read_csv('/Users/riccardo/Desktop/Repositorys_Github/Training/Dataset/wage.csv', sep=';')
df

          wage  educ  exper  metro
0     2.070000    12      7      1
1     2.120000    12     35      1
2     2.540000    16     20      1
3     2.680000    12     24      1
4     3.090000    13      4      1
..         ...   ...    ...    ...
993  35.419998    18     23      1
994  36.840000    16      7      1
995  41.320000    16     11      1
996  47.220001    18     35      1
997  60.189999    16     33      1

[998 rows x 4 columns]

In [26]:
df.shape

(998, 4)

In [43]:
X = df[["educ","exper"]].values
y = df["wage"].values

In [44]:
y.shape,X.shape

((998,), (998, 2))

In [45]:
# Zuerst die Daten in Trainings- und Testsets aufteilen
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.2, 
                                                    random_state=42)

# Dann die Testdaten in Test- und Validierungsdaten aufteilen
X_test, X_val, y_test, y_val = train_test_split(X_test, y_test, 
                                                test_size=0.5, 
                                                random_state=42)

In [46]:
print("Der X Test Datensatz besthet aus: ", X_train.shape, "Der Y Test Datensatz besthet aus: ", y_train.shape)
print("Der X_test Datensatz besthet aus: ", X_test.shape,"Der y_test Datensatz besteht  aus: ", y_test.shape)

Der X Test Datensatz besthet aus:  (798, 2) Der Y Test Datensatz besthet aus:  (798,)
Der X_test Datensatz besthet aus:  (100, 2) Der y_test Datensatz besteht  aus:  (100,)

In [53]:
y_pred = X_val[:,-1]
np.mean(keras.losses.mean_squared_error(y_val, y_pred))

191.0

In [52]:
# # Modell erstellen
# model = Sequential()
# model.add(keras.layers.Dense(1, input_dim=2, activation='linear'))

Anzahl der Merkmale in X_train: 3

In [56]:
model = keras.models.Sequential([
    keras.layers.Flatten(input_shape=[798, 2]),
    keras.layers.Dense(1)
])
model.compile(loss='mean_squared_error', optimizer='adam')
model.fit(X_train, y_train, epochs=20)

ValueError: Data cardinality is ambiguous:
  x sizes: 2
  y sizes: 798
Make sure all arrays contain the same number of samples.

## Erstellungs des RNNs Infrastruktur

In [1]:
import keras
from keras import layers

In [38]:
model = keras.Sequential()
model.add