# OECD Linear Regressiob

## Daten für die Hausarbeit
- OECD
Regression Model OLS
Model:
    BIP = Oil_price + (m1,m2,m3) + CPI + evtl Arbeitslosigkeit

In [1]:
import pandas as pd
import datetime as dt

## M1, M2, M3 Datasets

In [2]:
df_m1 = pd.read_csv('/Users/riccardo/Desktop/Repositorys_Github/Training/Scripts/models/Linear Regression/Data_EU/ECB Data Portal_20240412210249.csv')
df_m2 = pd.read_csv('/Users/riccardo/Desktop/Repositorys_Github/Training/Scripts/models/Linear Regression/Data_EU/ECB Data Portal_20240412210913.csv')
df_m3 = pd.read_csv('/Users/riccardo/Desktop/Repositorys_Github/Training/Scripts/models/Linear Regression/Data_EU/ECB Data Portal_20240412210918.csv')
# in Euro

In [30]:
df_m1.rename(columns={'Monetary aggregate M1 reported by MFIs, central gov. and post office giro institutions in the euro area (stocks) (BSI.M.U2.Y.V.M10.X.1.U2.2300.Z01.E)': 'M1'}, inplace=True)
df_m2.rename(columns={'Monetary aggregate M2 reported by MFIs, central gov. and post office giro institutions in the euro area (stocks) (BSI.M.U2.Y.V.M20.X.1.U2.2300.Z01.E)': 'M2'}, inplace=True)
df_m3.rename(columns={'Monetary aggregate M3 reported by MFIs, central gov. and post office giro institutions in the euro area (stocks) (BSI.M.U2.Y.V.M30.X.1.U2.2300.Z01.E)': 'M3'}, inplace=True)

df_m1.drop(columns=['TIME PERIOD'], inplace=True)
df_m2.drop(columns=['TIME PERIOD'], inplace=True)
df_m3.drop(columns=['TIME PERIOD'], inplace=True)

In [ ]:
Change dateformat from YYYY-MM-DD to YYYYM

In [31]:
df_m1

           DATE        M1
0    1980-01-31    444330
1    1980-02-29    447116
2    1980-03-31    451370
3    1980-04-30    453226
4    1980-05-31    455917
..          ...       ...
525  2023-10-31  10405119
526  2023-11-30  10369147
527  2023-12-31  10370863
528  2024-01-31  10262384
529  2024-02-29  10248551

[530 rows x 2 columns]

## Oil Price Datasets

In [10]:
api_key = 'd9ce385a3f807aaba9590769b5f994a1'
OIL_dataURL = f'https://api.stlouisfed.org/fred/series/observations?series_id=POILBREUSDM&api_key={api_key}&file_type=json&frequency=m'
CPI_dataURL = f'https://api.stlouisfed.org/fred/series/observations?series_id=CPHPTT01EZM659N&api_key={api_key}&file_type=json&frequency=m'
un_dataURL = f'https://api.stlouisfed.org/fred/series/observations?series_id=LRHUTTTTEZM156S&api_key={api_key}&file_type=json&frequency=m'


print(un_dataURL)

https://api.stlouisfed.org/fred/series/observations?series_id=LRHUTTTTEZM156S&api_key=d9ce385a3f807aaba9590769b5f994a1&file_type=json&frequency=m

In [9]:
import requests
import json
import pandas as pd

# Setzen Sie Ihren API-Schlüssel hier ein

def get_data(url):
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        observations = []
        for observation in data['observations']:
            date = observation['date']
            value = observation['value']
            if value != '.':
                value = float(value)
                observations.append({'Date': date, 'Value': value})
        df = pd.DataFrame(observations)
        return df
    else:
        print(f'Error: {response.status_code}')
        return None

Oil_price = get_data(OIL_dataURL)
Oil_price

           Date      Value
0    1990-01-01  20.989130
1    1990-02-01  19.702500
2    1990-03-01  18.465909
3    1990-04-01  16.926190
4    1990-05-01  16.671739
..          ...        ...
405  2023-10-01  88.947727
406  2023-11-01  82.186364
407  2023-12-01  77.540952
408  2024-01-01  79.110000
409  2024-02-01  81.795714

[410 rows x 2 columns]

In [8]:
CPI = get_data(CPI_dataURL)
CPI

           Date      Value
0    1991-01-01   4.054054
1    1991-02-01   4.283966
2    1991-03-01   4.151404
3    1991-04-01   4.136253
4    1991-05-01   4.247573
..          ...        ...
380  2022-09-01   9.900000
381  2022-10-01  10.600000
382  2022-11-01  10.100000
383  2022-12-01   9.200000
384  2023-01-01   8.700000

[385 rows x 2 columns]

In [11]:
unemployment_rate_EUArea = get_data(un_dataURL)
unemployment_rate_EUArea

           Date     Value
0    1990-07-01  7.589816
1    1990-08-01  7.644053
2    1990-09-01  7.699240
3    1990-10-01  7.724481
4    1990-11-01  7.762915
..          ...       ...
386  2022-09-01  6.700000
387  2022-10-01  6.600000
388  2022-11-01  6.700000
389  2022-12-01  6.700000
390  2023-01-01  6.700000

[391 rows x 2 columns]

## Mergeing

In [18]:
df_merged = df_m1.merge(df_m2, on='DATE')
df_merged = df_merged.merge(df_m3, on='DATE')